<div class="success-snackbar-container" (click)="snackBarRef.dismissWithAction()">
    <div class="flex items-center gap-3">
        <div class="icon-wrapper">
            <mat-icon class="success-icon">check_circle</mat-icon>
        </div>
        <div class="flex flex-col gap-1 flex-1">
            <span class="main-message">{{ data.mainMsg }}</span>
            <span class="sub-message">{{ data.subMsg }}</span>
        </div>
        <mat-icon class="close-icon">close</mat-icon>
    </div>
</div>
