.icon {
    color: #ffffff;
    font-size: 30px;
    width: 30px;
    height: 30px;
}

h2 {
    color: #00c749;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: #18a71dc3 !important;
}
