<!-- nav.component.html -->
<div (wheel)="onScroll($event)" class="h-full">
    <nav class="fixed top-0 w-full bg-transparent z-50" [ngClass]="{'nav-glassmorphic duration-500': isScrolled}">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <!-- Logo -->
                <div class="flex-shrink-0 pt-2">
                    <a routerLink="/" class="text-white font-bold text-xl" id="nav-logo">
                        <img src="/logo/what-to-eat-high-resolution-logo-white-transparent.png" alt="logo"
                            class="w-20 h-auto object-cover object-center shadow brightness-200" />
                    </a>
                </div>

                <!-- Desktop Menu -->
                <div class="hidden md:block">
                    <div class="ml-10 flex items-center space-x-4">
                        <a mat-button routerLink="/" routerLinkActive="!text-gray-300 !underline"
                            [routerLinkActiveOptions]="{exact: true}"
                            class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium"
                            i18n>Home</a>
                        <a mat-button routerLink="/dish" routerLinkActive="!text-gray-300 !underline"
                            class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium"
                            i18n>Dish</a>
                        <a mat-button routerLink="/ingredient" routerLinkActive="!text-gray-300 !underline"
                            class="text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium"
                            i18n>Ingredient</a>
                    </div>
                </div>

                <!-- Login Button -->
                <div class="hidden md:block">
                    <button mat-icon-button routerLink="/login" class="text-white hover:text-gray-300"
                        aria-label="Login button">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                </div>

                <!-- Mobile menu button -->
                <div class="md:hidden flex items-center">
                    <button mat-icon-button (click)="toggleMenu()" class="text-white focus:outline-none">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div [ngClass]="{'max-h-[300px] overflow-auto': isMenuOpen}"
            class="md:hidden bg-black/20 bg-opacity-75 h-100% max-h-0 overflow-hidden duration-300">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                <a routerLink="/" routerLinkActive="text-gray-300" [routerLinkActiveOptions]="{exact: true}"
                    class="text-white hover:text-gray-300 block px-3 py-2 rounded-md text-base font-medium">Home</a>
                <a routerLink="/about" routerLinkActive="text-gray-300"
                    class="text-white hover:text-gray-300 block px-3 py-2 rounded-md text-base font-medium">About</a>
                <a routerLink="/services" routerLinkActive="text-gray-300"
                    class="text-white hover:text-gray-300 block px-3 py-2 rounded-md text-base font-medium">Services</a>
                <a routerLink="/contact" routerLinkActive="text-gray-300"
                    class="text-white hover:text-gray-300 block px-3 py-2 rounded-md text-base font-medium">Contact</a>
                <button routerLink="/login"
                    class="mt-1 w-full bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-md text-sm font-medium transition duration-300">
                    Login
                </button>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>