<!-- Chat Container -->
<div
  cdkDrag
  [cdkDragFreeDragPosition]="dragPosition"
  class="fixed bottom-16 right-5 w-80 md:w-96 h-96 rounded-lg z-50 cursor-grab transition-all"
  [class.pointer-events-none]="!isPanelExpanded()"
  [class.h-auto]="!isPanelExpanded()"
>
  <div
    class="flex w-full justify-end pb-2"
    [class.pointer-events-auto]="!isPanelExpanded()"
  >
    <mat-icon svgIcon="drag" cdkDragHandle></mat-icon>
  </div>
  <mat-accordion class="pointer-events-auto">
    <mat-expansion-panel
      [expanded]="true"
      (opened)="isPanelExpanded.set(true)"
      (closed)="isPanelExpanded.set(false)"
    >
      <mat-expansion-panel-header
        class="!bg-gradient-to-br !from-[#F3A446] !to-[#A06235]"
      >
        <app-chat-header
          [onlineCount]="onlineCount()"
          [isConnected]="isConnected()"
          [connectionError]="connectionError()"
          (reconnect)="reconnectChat()"
        ></app-chat-header>
      </mat-expansion-panel-header>

      <!-- Chat Body -->
      <mat-card
        class="!flex-1 !flex !flex-col !overflow-hidden !p-0 my-2 glassmorphic-container_dark"
      >
        <!-- Messages Container -->
        <app-chat-message-list
          [messages]="messages()"
          [isConnected]="isConnected()"
          [currentUserId]="profile()?._id ?? null"
          [availableReactions]="availableReactions"
          (reactionAdded)="onReactionAdded($event)"
          (loadMore)="loadMoreMessages()"
        ></app-chat-message-list>

        <!-- Typing Indicators -->
        <app-typing-indicator
          [typingUserNames]="typingUserNames()"
        ></app-typing-indicator>
      </mat-card>

      <!-- Message Input -->
      <app-chat-input
        [isConnected]="isConnected()"
        (messageSent)="onMessageSent($event)"
        (messageInput)="onMessageInput($event)"
      ></app-chat-input>
    </mat-expansion-panel>
  </mat-accordion>
</div>