<div class="rounded clickable" (click)="close()">
  <mat-list>
    <mat-list-item>
      <span mat-line class="text-cyan-500">{{
        "led-list-instruction-single-title" | translate
      }}</span>
      <span mat-line>{{
        "led-list-instruction-single-subtitle" | translate
      }}</span>
      <span mat-line>{{
        "led-list-instruction-single-description" | translate
      }}</span>
      <span mat-line>{{
        "led-list-instruction-single-example" | translate
      }}</span>
    </mat-list-item>
    <mat-list-item>
      <span mat-line class="text-cyan-500">{{
        "led-list-instruction-consecutive-title" | translate
      }}</span>
      <span mat-line>{{
        "led-list-instruction-consecutive-subtitle" | translate
      }}</span>
      <span mat-line>{{
        "led-list-instruction-consecutive-description" | translate
      }}</span>
      <span mat-line>{{
        "led-list-instruction-consecutive-example" | translate
      }}</span>
    </mat-list-item>
    <mat-list-item>
      <span mat-line class="text-yellow-500">{{
        "led-list-instruction-summary" | translate
      }}</span>
    </mat-list-item>
  </mat-list>
</div>
