<!-- dish-filter.component.html -->
<form [formGroup]="filterForm" class="flex flex-col gap-2 p-1 pb-3 glassmorphic_dark">
    <!-- Search Bar -->
    <div class="mt-3">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label i18n>{{ 'search' }}</mat-label>
            <input matInput formControlName="keyword">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <!-- Preparation Time -->
    <div class="mb-0.5 font-medium px-3">
        <span i18n-matTooltip matTooltip="in minute" class="flex items-center">
            <span i18n class="mr-3">Preparation Time</span>
            <mat-icon svgIcon="preparation_time"></mat-icon>
        </span>
    </div>
    <div class="px-5">
        <mat-slider [min]="1" [max]="240" [step]="1" [displayWith]="formatLabel" discrete class="!w-full">
            <input matSliderStartThumb formControlName="preparationTimeFrom">
            <input matSliderEndThumb formControlName="preparationTimeTo">
        </mat-slider>
    </div>

    <!-- Cooking Time -->
    <div class="mb-0.5 font-medium px-3">
        <span i18n-matTooltip matTooltip="in minute">
            <span i18n class="mr-3">Cooking Time</span>
            <mat-icon svgIcon="cooking_time"></mat-icon>
        </span>
    </div>
    <div class="px-5">
        <mat-slider [min]="1" [max]="240" [step]="1" [displayWith]="formatLabel" class="w-full">
            <input matSliderStartThumb formControlName="cookingTimeFrom">
            <input matSliderEndThumb formControlName="cookingTimeTo">
        </mat-slider>
    </div>

    <mat-divider></mat-divider>

    <!-- Difficulty Levels -->
    <div class="flex gap-2 mt-0.5 pl-2 flex-wrap">
        @for(item of difficultLevelsOptions; track item) {
        <button [matButton]="difficultyLevels?.value?.includes(item) ? 'tonal' : 'outlined'"
            (click)="toggleDifficultyLevel(item)" [ngClass]="{
                    'neumorphic-easy': item === 'EASY' && difficultyLevels?.value?.includes(item),
                    'neumorphic-medium': item === 'MEDIUM' && difficultyLevels?.value?.includes(item),
                    'neumorphic-hard': item === 'HARD' && difficultyLevels?.value?.includes(item)
                }">
            @if (item === 'EASY') {
            <mat-icon svgIcon="easy"></mat-icon>
            } @else if (item === 'MEDIUM') {
            <mat-icon svgIcon="medium"></mat-icon>
            }
            @else if (item === 'HARD') {
            <mat-icon svgIcon="hard"></mat-icon>
            }
            {{ item | categoryTranslate }}
        </button>
        }
    </div>

    <mat-divider></mat-divider>

    <!-- Meal Categories -->
    <div class="px-2">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label i18n>{{ 'meal-categories' }}</mat-label>
            <mat-select formControlName="mealCategories" multiple>
                @for (option of mealCategoriesOptions; track option) {
                <mat-option [value]="option">
                    {{ option | categoryTranslate }}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Ingredient Categories -->
    <div class="px-2">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label i18n>{{ 'ingredient-categories' }}</mat-label>
            <mat-select formControlName="ingredientCategories" multiple>
                @for (option of ingredientCategoriesOptions; track option) {
                <mat-option *ngFor="let option of ingredientCategoriesOptions" [value]="option">
                    {{ option }}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Tags -->
    <h6 class="mb-0.5 font-medium text-purple-900 px-3 text-sm">
        <i class="fa-solid fa-tag my-auto"></i>
        <span i18n>tags</span>
    </h6>

    <div class="px-2">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label i18n>{{ 'tags' }}</mat-label>
            <mat-chip-grid #chipGrid aria-label="Tag selection">
                <mat-chip-row *ngFor="let tag of tags" [removable]="true" (removed)="removeTag(tag)">
                    {{tag.value}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                <input i18n-placeholder placeholder="{{ 'add-tag' }}" [matChipInputFor]="chipGrid"
                    (matChipInputTokenEnd)="addTag($event.value); $event.chipInput.clear()">
            </mat-chip-grid>
        </mat-form-field>
    </div>

    <!-- Search Button -->
    <div class="flex px-2 mt-2">
        <button mat-flat-button
            class="w-full px-5 py-2.5 font-medium bg-purple-100 hover:bg-purple-200 hover:text-purple-600 text-purple-500 rounded-lg text-sm transition-all duration-300"
            (click)="onSearch()">
            <i class="fa fa-search"></i>
            <span i18n class="font-semibold ml-1">
                {{ 'search' }}
            </span>
        </button>
    </div>
</form>