// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./_theme-colors.scss" as custom_mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: custom_mat.$primary-palette,
        tertiary: custom_mat.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
} /* You can add global styles to this file, and also import other style files */

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
// @import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
